body {
    background-color: #0a0a0a;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
header {
    text-align: center;
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
    color: #ffffff;
    padding: 40px 20px;
    border-bottom: 5px solid #4a00e0;
    font-family: 'Helvetica Narrow', sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;

}

.card {
    background-color: #1a1a1a;       
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(78, 221, 255, 0.5);
    padding: 20px;
    margin: 20px;
    flex: 1 1 280px;
    transition: 0.3s;
    max-width: 300px;
    text-align: center;
    color: #ffffff;
    font-family: "BBH Sans Bogle", sans-serif;;
}
.titulo {
    font-family: "Bungee Spice", sans-serif;
}

:root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    padding: 1.5rem 0;
    -webkit-filter: url('#goo');
            filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    -webkit-transform: scale(0);
            transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    -webkit-transform: none;
            transform: none;
}




